<div class="lead">
    <h4 class="display-5" >Kalkulator tempa</h4>

  <div class="form-group">
    <label>Planowany dystans w km</label>
    <input type="number" class="form-control"  ng-model="ctrl.distance" ng-change="ctrl.calculate()"></input>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Planowany czas biegu</label>
    <div>
      <time-ctrl hours=ctrl.hours
                 minutes=ctrl.minutes
                 seconds=ctrl.seconds
                 total-seconds=ctrl.totalSeconds
                 on-change=ctrl.onTotalSecondsChange(totalSeconds)>
      </time-ctrl>
    </div>
  </div>

  <div class="form-group">
    Planowane tempo: {{ctrl.peace}} min/km
  </div>
</div>
