<form width="200px">
  <div class="form input-group input-group-sm mb-3 " width="50px">
    <input id="hours" type="number" ng-change="$ctrl.calcTotal()" class="form-control" ng-model="$ctrl.hours" placeholder="godź."></input>:
    <input id="minutes" type="number" ng-change="$ctrl.calcTotal()" class="form-control" ng-model="$ctrl.minutes" placeholder="min."></input>:
    <input id="seconds" type="number" ng-change="$ctrl.calcTotal()" class="form-control" ng-model="$ctrl.seconds" placeholder="sec."></input>
  </div>
</form>
